body {
    background-color: black;
    text-align: center;
}
.container{
    font-size: 2em;
    text-align: center;
    display: inline-block;
    justify-content: center;
    margin: 20px 50px;
    color: rgba(255, 0, 234, 0.6);
    font-family: arial;
   
}
.clock,
.japan_clock,
.ny_clock {
    font-size: 1em;
    text-align: center;
    color: rgb(255, 0, 234);
    font-family: arial;
}

.clock span,
.japan_clock span,
.ny_clock span{
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
}
.nobg{
    background-color: black !important;
}
