body {
        background-color: white;
		margin-top:0px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:0px;
		width:900px;
		list-style: none;
    }

div {
        font: verdana 15px #000;
        position:relative;
    }
a {
		text-decoration: none;
	}
#kontener {
width:780px;
height:100%;
border-left:solid black 1px;
border-right:solid black 1px;
border-bottom: solid black 1px;
background: white;
}
#naglowek {
        background: #fff url(logo.jpg) no-repeat;
        width:780px;
		height:253px;
		position: center;
    }
#menu {
		background: #383737;
		color: black;
        width:780px;
        height:44px;
		margin-top:-16px;
	}
#menu a {
		display: block;
		padding: 2px 20px 10px 20px;
		color:#f7f7f7;
		margin-top:8px;
		float: left;
		text-align:center;
		font-size: 16px;
	}
#menu a:hover {
		margin-top:8px;
		color:#f7f7f7;
	}
#tytul {
        background:  #b6b5b5;
		width:641px;
		height:56px;
		margin-left:auto;
		margin-right:auto;
		margin-top:20px;
        text-align:center;
        border-left:solid grey 1px;
		border-right:solid grey 1px;
		
	}
#tytul h3 {
		padding-top:15px;
}
#tresc {
		background: white;
		border-left:solid grey 1px;
		border-right:solid grey 1px;
		border-bottom: solid grey 1px;
        width:641px;
		height:auto;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:1px;
	}
#tresc a {
		width:500px;
		color:#000000;
		text-decoration:underline;
}
#tresc h2 {
		text-indent:7px;
		padding-top:15px;
        font-size: 17px;
		color: black;
		line-height: 150%;
		padding-left:15px;
		margin-top:0px;
	}

#tresc h3 {
		text-indent:7px;
		padding-top:15px;
        font-size: 14px;
		color:#2f2f35;
		line-height: 150%;
		padding-left:15px;
		margin-top:0px;
}	
#tresc p {
		margin: 0 0 8px 0;
		text-indent: 15px;
		text-align: center;
		margin-left:20px;
		margin-right:20px;
		padding-bottom:4px;
		font-size:12px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
	}
#podpis {
		background: #383737;
		width:780px;
		height:30px;
		margin-left:auto;
		margin-right:auto;
		margin-top:-16px;
        margin-bottom:0px;
        border-left:solid grey 1px;
		border-right:solid grey 1px;
		border-bottom: solid grey 1px;
	}
#podpis p {
		text-align:right;
		margin-right:15px;
		padding-top:7px;
		font-size:11px;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        color: white;
}

#design {
		float:right;
		padding-right:10px;
		padding-top:10px;
}