body {
        background-color: white;
		margin-top:0px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:0px;
		width:900px;
		list-style: none;
    }

div {
        font: verdana 15px #000;
        position:relative;
    }
a {
		text-decoration: none;
	}
#kontener {
width:780px;
height:auto;
border-left:solid black 1px;
border-right:solid black 1px;
border-bottom: solid black 1px;
background: white;

}
#naglowek {
        background: #fff url(logo2.jpeg) no-repeat;
        width:780px;
		height:253px;
        position: center;
        
    }
#menu {
		background: rgb(22, 35, 80,0.9);
		color: black;
        width:780px;
        height:40px;
		margin-top:-16px;
	}
#menu a {
		display: block;
		padding: 2px 20px 10px 20px;
		color:#f7f7f7;
		margin-top:8px;
		float: left;
		text-align:center;
		font-size: 16px;
	}
#menu a:hover {
		margin-top:8px;
		color:#f7f7f7;
	}
#tytul {
        background-image:linear-gradient(rgb(166, 168, 173), rgb(35, 46, 73));
		width:641px;
		height:40px;
		margin-left:auto;
		margin-right:auto;
		margin-top:10px;
        text-align:center;
        border-left:solid grey 1px;
		border-right:solid grey 1px;
		
	}
#tytul h3 {
		padding-top:10px;
		color:white;
		font-size:16px;
		font-weight: 400;
}
#tresc {
		background: white;
		border-left:solid grey 1px;
		border-right:solid grey 1px;
		border-bottom: solid grey 1px;
        width:641px;
		height:auto;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:1px;
	}
#tresc a {
		width:500px;
		color:#000000;
		text-decoration:underline;
}
#tresc h2 {
		text-indent:7px;
		padding-top:15px;
        font-size: 17px;
		color: black;
		line-height: 150%;
		padding-left:15px;
		margin-top:0px;
	}

#tresc h3 {
		text-indent:7px;
		padding-top:15px;
        font-size: 14px;
		color:#2f2f35;
		line-height: 150%;
		padding-left:15px;
		margin-top:0px;
}	
#tresc p {
		margin: 0 0 8px 0;
		text-indent: 15px;
		text-align: center;
		margin-left:20px;
		margin-right:20px;
		padding-bottom:4px;
		font-size:12px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
	}
#podpis {
		background: rgb(22, 35, 80, 0.9);
		width:780px;
		height:30px;
		margin-left:auto;
		margin-right:auto;
		margin-top:-16px;
        margin-bottom:0px;
        border-left:solid grey 1px;
		border-right:solid grey 1px;
		border-bottom: solid grey 1px;
	}
#podpis p {
		text-align:right;
		margin-right:15px;
		padding-top:7px;
		font-size:12px;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        color: white;
}

#design {
		float:right;
		padding-right:10px;
		padding-top:10px;
}
#kontener_log {
    width:380px;
    height:20%;
    border-top:solid black 1px;
    border-left:solid black 1px;
    border-right:solid black 1px;
    border-bottom: solid black 1px;
    background-image:linear-gradient(#f5f6f6,rgba(18, 44, 78, 0.479));
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    font-size:16px;
    padding: 10px;
    font: verdana;
    }
#logowanie {
    color:black;
    font-size:15px;
    display:table;
    margin:auto; 
    font: verdana;
      
}   
#logowanie input{
    width:300px;
    height:20%;
    color:black;
    font-size:12px;
    padding:5px; 
}
#zaloguj input {
    width:100px;
    height:15%;
    color:black;
    font-size:12px;
    display:table;
    margin:auto;
    font: verdana;
}
#kontener_show{
	width:780px;
	height:100%;
	border-left:solid black 1px;
	border-right:solid black 1px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	background-image: url("jacht.jpg");
	padding: 40px;
	margin: 10px;
}

#lista_klientow table{
	width:780px;
	height:10%;
	border-left:solid black 1px;
	border-right:solid black 1px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	text-align: center;	    
}
#lista_klientow table a{
	color:black;
	
}

#linki a {
    background-color: #687C95;
    border: solid white 1px;
    padding:10px;
    color: white;
    width:200px;
}
#linki {
    display: grid;
}
#kontener_add {
	font: Verdana;
	width:780px;
	height:100%;
	border-left:solid black 1px;
	border-right:solid black 1px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	background-image: url("jacht2.jpg");
	padding: 40px;
	margin-top: 10px;
	color:white;
	display: grid;
}
#kontener_add form input {
    font: Verdana;
    color:BLACK;
	display: grid;
	font-style: bold;
	}
#kontener_add form input {
	font: Verdana;
	color:black;
	display: grid;
	font-style: bold;
	font-size: 13px;
	width:175px;
		
	}
#kontener_add form select {
	font: Verdana;
	color:black;
	display: grid;
	font-style: bold;
	font-size: 13px;
	width:175px;
}
#kontener_add form option {
	font: Verdana;
	color:black;
	display: grid;
	font-style: bold;
	font-size: 13px;	
}
#kontener_add a {
	color:rgb(187, 232, 243);
}
#kontener_rez {
	font-family: 'Vardena';
	width:780px;
	height:auto;
	border-left:solid black 1px;
	border-right:solid black 1px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	background-image: url("jacht3a.jpg");
	padding: 32px;
	margin-top: 10px;
	color:rgb(255, 255, 255);
	display: grid;
	font-size: 16px;
	font-weight: 700;
}
#kontener_rez p {
	font-size: 18px;
	font-weight: 700;
}
#kontener_rez form option {
	font: Verdana;
	color:black;
	display: grid;
	font-style: bold;
	font-size: 13px;	
}
#kontener_rez form select {
	font: Verdana;
	color:black;
	display: grid;
	font-style: bold;
	font-size: 13px;
	width:140px;
}
#kontener_upd {
	font-family: 'Vardena';
	width:780px;
	height:auto;
	border-left:solid black 1px;
	border-right:solid black 1px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	background-image: url("jacht3.jpg");
	padding: 40px;
	margin-top: 10px;
	color:rgb(255, 255, 255);
	display: grid;
	font-size: 15px;
	font-weight: 700;
}

#kontener_upd form input {
	font: Verdana;
	color:black;
	display: grid;
	font-style: bold;
	font-size: 12px;
}
/*---------------------------------------*/
#kontener_lista{
	width:900px;
	height:auto;
	border-left:solid black 1px;
	border-right:solid black 1px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	background-image: url("jacht4.jpg");
	padding: 40px;
	margin: 10px;
	color: white;
}

#lista_jachtow table{
	width:900px;
	border-left:solid black 1px;
	border-right:solid black 1px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	background-color: rgba(255, 255, 255, 0.85);
	text-align: center;	
}
#lista_jachtow table a{
	color:black;
	position:relative;
}
#krotki{
	width:180px;
	text-align: justify;
}
#kontener_updj {
	font-family: 'Vardena';
	width:780px;
	height:auto;
	border-left:solid black 1px;
	border-right:solid black 1px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	background-image: url("jacht3.jpg");
	padding: 40px;
	margin-top: 10px;
	color:black;
	display: grid;
	font-size: 15px;
	font-weight: 700;
}

#kontener_updj form input {
	font: Verdana;
	color:black;
	display: grid;
	font-style: bold;
	font-size: 12px;
	width:220px;
}
#kontener_updj form select {
	font: Verdana;
	color:black;
	display: grid;
	font-style: bold;
	font-size: 12px;
	width:220px;
}
#kontener_updjm {
	font-family: 'Vardena';
	width:780px;
	height:auto;
	border-left:solid black 1px;
	border-right:solid black 1px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	background-image: url("jacht3a.jpg");
	padding: 40px;
	margin-top: 10px;
	color:WHITE;
	display: grid;
	font-size: 15px;
	font-weight: 700;
}
#opisyjm form{
	width:300px;
	text-align: justify;
}
#opisyjm form input {
	font: Verdana;
	color:black;
	display: grid;
	font-style: bold;
	font-size: 12px;
	width:200px;
}








