.container{
    max-width: 600px;
}
.btn {
    background:#cf3487;
    color: white;
    outline: none !important;
    box-shadow: none !important;
}
.btn:focus {
    outline: none !important;
}
.username{
    font-weight: bold;
}
.time{
    font-size:0.7em;
    color: rgb(158, 158, 158);
}
.update-msg{
    text-align: center;
    margin: 20px auto;
    font-size:0.9em;
}