body {
    background-color: rgb(36, 167, 36);
}
.container {
    max-width: 400px;
}
input[type=text],
input[type=text]:focus {
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 400px;
}
.todos li{
    background-color:rgba(122, 223, 122, 0.7);
}
.delete {
    cursor: pointer;
}
.filtered{
    display: none !important;
}