body{
    font-family:sans-serif;
  
}
.board{
    width: 306px;
    background: rgb(209, 208, 208);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 3px;
    border: 1px solid rgb(155, 155, 155);
    cursor: pointer;
   
}
.box {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: rgb(49, 49, 49);
}
.box:hover {
    background: rgb(250, 250, 250);
}

button {
    font-size: 1em;
    padding: 5px; 
    margin:5px;
    
}