
body{
    padding: 0;
    margin-top: 0px;
    margin-left: auto;
    margin-right:auto;
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    --glowny-kolor: rgb(150,184,38);
    }

    /*nawigacja strony*/
    
    nav {
         background-color: var(--glowny-kolor);
        }
    nav ul {
        list-style: none;
        padding: 10px;
        margin: 0px;
        }
    nav ul li {
        display: inline;
        margin: 5%;
        }
    nav ul li button {
        padding: 5px;
        color:  var(--glowny-kolor);
        font-size: 16px;
        border-radius: 5px;
        background-color: #f4f4f4;
        }
    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 120%;
        }

        /*glowny baner*/

    #banner {
        width: 100%;
        }

        /*obrazki*/

    #obrazki {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        background-color: #f4f4f4;
        }

        /*glowna sekcja*/

    article {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        background-color: #54504F;
        color: white;
        }
    article h2 {
        color:var(--glowny-kolor);
        margin-bottom: 5px;

        }
    article p a {
        color:rgb(150,184,38);

        }
    .kolumna {
        padding: 30px 50px 30px 50px;
        }
    #autor {
        margin-top:90px;
        background-image: url('assets/avatar.png');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 100px;
        padding-left: 120px;
        }

        /*stopka*/

    footer {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-evenly;
        background-color:var(--glowny-kolor);
        color: white;
        padding: 5px 120px 10px 120px;
        }
    footer div {
        padding: 15px;
        }
    footer h4 {
        font-size:  15px;
        margin: 10px 0px 0px 0px;
        }
    footer p {
        font-size: 10px;
        padding: 0 40px 0 0;
        }
    footer h4 i {
        font-size: 25px;
        padding: 0 5px 0 0;
        }
  