.dropdown .trigger {
    border-bottom: 1px solid rgb(139, 137, 137);
    padding: 10px;
    position: relative;
    cursor: pointer;
    text-align: left;
    color: rgb(139, 137, 137);
}
.dropdown .trigger::after{
    content:">";
    display: inline-block;
    position: absolute;
    right: 15px;
    transform: rotate(90deg) scale(0.5, 1);
    font-weight: bold;
    transition: transform 0.3s;
}
.dropdown .trigger.active::after{
    transform: rotate(-90deg) scale(0.5, 1);
}
.dropdown .content{
    display: none;
    text-align: left;
    padding: 10px 20px;
}
.dropdown .content.active{
    display: block;
}