.tabs > ul{
    padding: 0;
}
.tabs .trigger {
    list-style-type: none;
    padding: 10px;
    background-color:rgb(139, 137, 137);
    margin: 4px;
    border-radius: 6px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
}
.tabs .trigger.active{
    background-color:#653EAF;
    color: white;
}
.tabs .content{
    background-color: black;
    padding: 40px 20px;
    border-radius: 6px;
    display: none;
    color:#3E3E3E;
}
.tabs .content.active{
    display: block;
}