.tooltip{
    position: relative;
    display: inline-block;
    color: #653EAF;
    cursor: help; 
}
.tip{
    visibility: hidden;
    width: 150px;
    background-color:#653EAF;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.8em;
}
.tip.active{
    visibility: visible;
    opacity: 1;
}
.tip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -4px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    border-top-color:#653EAF;
}